body{
    background-color: pink;
    height: 100%;
    width: 100%;
}

/* navbar */
#navbar{
    flex-direction: column;
}
#home {
    height: 465px;
    padding: 3px 5px;
}
#home::before{
    height: 670px;
    width: 155%; 
}
#home h1{
    padding: 10px;
}
#services{
    width: 120%;

}

/* trending */

.trending{
    flex-direction: column;
    width: 100%;

}

.trending .box img{
    height: 120px;
}  
.trending .box2 img{
    height: 120px;
}
.trending .box3 img{
    height: 120px;
}
/* latest */
.latests{
    flex-direction: column;
    
}

/* contact us */

/* footer */

.primary{
    font-size: 2.1rem;
}
.secondary{
    font-size: 1.3rem;
}
#home h1{
    font-size: 2.1rem;
}